# Python virtual environment
.venv/
venv/
ENV/

# Python byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter checkpoint
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Large raw PDF or local temp files if needed
# AIAP_Foundation_Learning_Companion.pdf
